{% extends "layout.html" %}

{% block content %}
{% if cart.cartItems %}
<h1>Seu carrinho</h1>
<hr />
<table class="striped responsive-table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for cartItem in cart.cartItems %}
        <tr>
            <td>{{ cartItem.product.name }}</td>
            <td>{{ cartItem.product.price|currency }}</td>
            <td>{{ cartItem.qty }}</td>
            <td>{{ cartItem.itemAmount|currency}}</td>
            <td class="right-align">
                <form name="remove_product" action="{{ path_for('cart.remove') }}" method="post">
                    <input type="hidden" name="id" value="{{ cartItem.id }}" />
                    <a href="#" onclick="parentNode.submit()"><i class="material-icons">delete</i></a>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>
                <a class="btn" href="{{ path_for('order.review') }}"><i class="material-icons left">shopping_cart</i>Finalizar compra</a>
            </td>
            <td colspan="4" class="valign-wrapper">
                <i class="small material-icons right-align">refresh</i>
                <span class="flow-text right-align">{{ cart.cartAmount|currency }}</span>
            </td>
        </tr>
    </tfoot>
</table>
{% else %}
<h1>Não há produtos no carrinho.</h1>
{% endif %}
{% endblock %}
