{% extends "layout.html" %}

{% block content %}
<a href="{{ path_for('cart.view') }}">Carrinho</a>
<a href="{{ path_for('user.logout') }}">Sair</a>
<div class="product-list row">
{% for product in products %}
    <div class="product col s4">
        <div class="row">
            <div class="product-name col s12">
                <div class="row">
                    <span>{{ product.name }}</span>
                </div>
            </div>
            <div class="product-name col s12">
                <div class="row">
                    <span>{{ product.price }}</span>
                </div>
            </div>
            <div class="product-name col s12">
                <form class="row" action="{{ path_for('cart.add') }}" method="post">
                    <input type="hidden" name="id" value="{{ product.id }}">
                    <input type="hidden" name="name" value="{{ product.name }}">
                    <input type="hidden" name="price" value="{{ product.price }}">
                    <button type="submit">Adicionar ao carrinho</button>
                </form>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
