{% extends "layout.html" %}

{% block content %}
<h1>Produtos</h1>
<hr />
<div class="product-list row">
{% for product in products %}
    <div class="col s4">
        <div class="card">
            <div class="card-image">
                <img src="https://www.louet.com/application/glue/themes/louet/images/NoImage.jpg">
            </div>
            <div class="card-content right-align">
                <div>{{ product.name }}</div>
                <div class="card-title">R$ {{ product.price|number_format(2, ',', '.') }}</div>
            </div>
            <div class="card-action center-align">
                <form action="{{ path_for('cart.add') }}" method="post">
                    <input type="hidden" id="id" name="id" value="{{ product.id }}">
                    <button class="btn" type="submit"><i class="material-icons left">shopping_cart</i>Comprar</button>
                </form>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
