{% extends "layout.html" %}

{% block content %} 
<table>
    <tr>
        <th>Item</th>
        <th>Valor</th>
        <th>Qty</th>
        <th>Total</th>
        <th></th>
    </tr>
    {% for cartItem in cartItems %}
        <tr>
            <td>{{ cartItem.product.name }}</td>
            <td>{{ cartItem.product.price }}</td>
            <td>{{ cartItem.qty }}</td>
            <td>{{ cartItem.itemAmount }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="3">Total</td>
        <td>{{ total }}</td>
    </tr>
</table>

<form action="{{ path_for('purchase.new') }}" method="post">
    <div class="row">
        <div class="input-field col right-align">
            <button type="submit" class="waves-effect waves-light btn">Buy</button>
        </div>
    </div>
</form>
<a href="{{ path_for('cart.view') }}">Voltar para o carrinho</a>
{% endblock %}
