Muito obrigado pela compra! Volte sempre :)

<table>
    <thead>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
    {% for cartItem in purchase.cart.cartItems %}
        <tr>
            <td>{{ cartItem.product.name }}</td>
            <td>R$ {{ cartItem.product.price|number_format(2, ',', '.') }}</td>
            <td>{{ cartItem.qty }}</td>
            <td>R$ {{ cartItem.itemAmount|number_format(2, ',', '.') }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total</td>
            <td>R$ {{ purchase.cart.cartAmount|number_format(2, ',', '.') }}</td>
        </tr>
    </tfoot>
</table>
